footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}


.bg-dark {
    background-color: #343a40!important;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #5cb85c;
    font-weight: bold;
}

button.btn .btn-link {
    color: #5cb85c;
}

img {
    height: 225px;
    width: 100%;
    display: block;
}

button {
    cursor: pointer;
}